/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Header */
header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
nav li {
	margin: 0 10px;
}
nav a {
	color: #fff;
	text-decoration: none;
}

/* Banner */
#banner {
	height: 324px;
	background-color: #eee;
	display: flex;
	align-items: center;
}
.slider {
	display: flex;
	justify-content: space-between;
	animation: slide 55s infinite;
}
.slide {
	width: 624px;
	height: 324px;
	background-color: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slide img {
	width: 624px;
	height: 324px;
    object-fit: contain;
	}
@keyframes slide {
	0% { transform: translateX(0); }
	25% { transform: translateX(-100%); }
	50% { transform: translateX(-200%); }
	75% { transform: translateX(-300%); }
	100% { transform: translateX(0); }
}

/* Services */
#services {
	padding: 50px;
}
h2 {
	text-align: center;
	margin-bottom: 50px;
}
.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product {
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 20px;
}

/* Footer */
footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
footer ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
footer li {
	margin: 0 10px;
}
footer a {
	color: #fff;
	text-decoration: none;
}
